altgraph==0.17.2
asgiref==3.5.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
comtypes==1.1.11
cycler==0.11.0
distlib==0.3.4
Django==4.0.3
djangorestframework==3.13.1
filelock==3.6.0
fonttools==4.33.0
future==0.18.2
google-api-core==2.7.2
google-auth==2.6.6
google-cloud-speech @ file:///C:/Users/Tanay/Downloads/google_cloud_speech-2.13.1-py2.py3-none-any.whl
googleapis-common-protos==1.56.0
grpcio==1.44.0
grpcio-status==1.44.0
gunicorn==20.1.0
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
pbr==5.8.1
pefile==2022.5.30
Pillow==9.1.0
platformdirs==2.5.1
proto-plus==1.20.3
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Tanay/Downloads/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
pygame==2.1.2
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.8
PyPDF2==1.26.0
pypiwin32==223
PyQRCode==1.2.1
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.1
pywin32==303
pywin32-ctypes==0.2.0
qrcode==7.3.1
requests==2.27.1
rsa==4.8
scipy==1.8.0
six==1.16.0
SpeechRecognition==3.8.1
sqlparse==0.4.2
stevedore==3.5.0
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
whitenoise==6.2.0
xlwt==1.3.0
